<!-- -*- mode: XML -*- -->
<launch>

  <arg name="bag" default="false" />
  <node name="bag" pkg="rosbag" type="record" args="-a" if="$(arg bag)"/>

  <!-- start localization -->
  <group ns="localization">
    <!-- start GPS navsat transform node -->
    <include file="$(find avc)/launch/includes/localization/navsat_transform.launch.xml" > </include>
  
    <!-- start absolute robot_localization node -->
    <include file="$(find avc)/launch/includes/localization/ekf_global_localization.launch.xml" > </include>
  
    <!-- start local robot_localization node -->
    <include file="$(find avc)/launch/includes/localization/ekf_local_localization.launch.xml" > </include>
  </group>

</launch>
