<!-- -*- mode: XML -*- -->
<launch>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
    <remap from="scan" to="/sensors/scan" />
    <remap from="odom" to="/vesc/odom" />
    <param name="xmin" value="-8.0" />
    <param name="ymin" value="-8.0" />
    <param name="xmax" value="8.0" />
    <param name="ymax" value="8.0" />
    <param name="delta" value="0.1" />
  </node>

</launch>
