<!-- -*- mode: XML -*- -->
<launch>

  <group ns="vesc">
    <!-- joystick to ackermann command -->
    <include file="$(find avc)/launch/includes/inputs/joy_teleop.launch.xml" > </include>
    <!-- default (zero) ackermann command -->
    <node name="zero_ackermann_cmd" pkg="rostopic" type="rostopic" args="pub -r 4 ackermann_cmd_mux/input/default ackermann_msgs/AckermannDriveStamped '{header: auto, drive: {steering_angle: 0.5, speed: 0.0} }'" />
    <!-- priority-based command multiplexer -->
    <include file="$(find ackermann_cmd_mux)/launch/standalone.launch">
      <arg name="nodelet_manager_name" value="ackermann_cmd_mux_nodelet_manager" />
      <arg name="config_file" value="$(find avc)/config/mux.yaml" />
    </include>
    <!-- start electronic speed controller driver -->
    <include file="$(find avc)/launch/includes/vesc/vesc.launch.xml" > </include>
  </group>

</launch>
