<!-- -*- mode: XML -*- -->
<launch>

  <!-- start teleop -->
  <group ns="teleop">
    <!-- joystick to ackermann command -->
    <include file="$(find avc)/launch/includes/inputs/joy_teleop.launch.xml" > </include>
  </group>

  <group ns="vesc">
    <!-- default (zero) ackermann command -->
    <node name="zero_ackermann_cmd" pkg="rostopic" type="rostopic" args="pub -r 4 ackermann_cmd_mux/input/default ackermann_msgs/AckermannDriveStamped '{header: auto, drive: {steering_angle: 0.0, speed: 0.0} }'" />

    <!-- priority-based command multiplexer -->
    <include file="$(find ackermann_cmd_mux)/launch/standalone.launch">
      <arg name="nodelet_manager_name" value="ackermann_cmd_mux_nodelet_manager" />
      <arg name="config_file" value="$(find avc)/config/mux.yaml" />
    </include>

    <!-- start electronic speed controller driver -->
    <include file="$(find avc)/launch/includes/vesc/vesc.launch.xml" > </include>

  </group>

  <!-- start sensors -->
  <group ns="sensors">
    <include file="$(find avc)/launch/includes/sensors/sensors.launch.xml" />
  </group>

  <!-- start localization -->
  <group ns="localization">
    <!-- start GPS navsat transform node -->
    <include file="$(find avc)/launch/includes/localization/navsat_transform.launch.xml" > </include>
  
    <!-- start absolute robot_localization node -->
    <include file="$(find avc)/launch/includes/localization/ekf_global_localization.launch.xml" > </include>
  
    <!-- start local robot_localization node -->
    <include file="$(find avc)/launch/includes/localization/ekf_local_localization.launch.xml" > </include>
  </group>

</launch>
